body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://source.unsplash.com/collection/1502664); /*no-repeat center center fixed*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100vh;
}

.App {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.top-container{
  border: solid red 1px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.middle-container{
  margin: 30vh 0;
}

.middle-sub-container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border: solid red 1px;

}
