.test{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1;
  position: absolute;
  left: 20px;
  max-width: 25%;
  padding: 10px;
}

.links-container{
  position: absolute;
  bottom: 400px;
}
