body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://source.unsplash.com/collection/1502664); /*no-repeat center center fixed*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
