.links-popup-container{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1;
  padding: 10px;
  margin-bottom: 25px;
}

.links-popup-container-hidden{
  display: none;
}

.react-parent{
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.links-btn{
  cursor: pointer;
}
