.quote-div {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}
.quote-el {
	font-size: 1.25em;
	display: block;
	font-family: Helvetica, sans-serif;
	color: white;
	width: 50%;
	text-align: center;
}
