* {
  color: white;
  font-weight: bold;
}

i{
  margin-right: 5px;
}
/* outer div */
.weather-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-right: 15px;
  align-items: flex-end;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-self: center;
  align-self: center;
}
/* widget layout container */
.weather-layout {
  margin-right: 5px;
}

.flex-top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-name{
  margin-top: -5px;
  font-size: 10px;
  text-align: center;
}

.temp{
  font-size: 1.25em;
}
